@media(max-width:1190px){
  .banner{
      display: flex;
      justify-content: space-around;
     
  }
  .nav-content{
      justify-content: space-around;
  }
  .header-title h1{
    display: flex;
    justify-content: space-around;
  }
  .header-title h2{
      display: flex;
      justify-content: space-around;
}
.header-title p{
    display: flex;
   margin-left: 20px;
   margin-right: 20px;
}
.header-link{
    display: flex;
    justify-content: space-around;
}
.foot-nav{
    display: flex;
    justify-content: space-around;
}

}
@media(max-width:740px){
    .header-title h1{
        font-size: 60px;

    }
.header-title h2{
    font-size: 28px; 
}
.header-title p{
    font-size: 15px;  
}
.nav-content a{
    margin-left: 5px;
}
}
@media(max-width:710px){
    .nav-content{
        display: flex;
        flex-direction: column;
        height: 161px;
        margin-top: 0;

    }
    .nav-content a{
        margin-bottom: 0;
    }

}
@media(max-width:670px){
    .foot-nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    .footer-list__link{
       margin: 0 auto;
      }
}
@media(max-width:615px){
    .header-title h1{
        font-size: 50px;

    }
.header-title h2{
    font-size: 24px; 
}
.header-title p{
    font-size: 12px;  
}
.nav-content a{
    margin-left: 5px;
}
.header-link{
    display: flex;
    flex-direction: column;
    gap: 80px;
}
.link{
    font-size: 30px;
    padding: 20px 60px;
}
.link-2{
    font-size: 15px;
    padding: 12px 50px;
}
}
@media(max-width:530px){
    .header-title h1{
        font-size: 40px;
        margin-bottom: 10px;

    }
    .header-title h2{
        font-size: 20px;
        margin-bottom: 30px;
    }
    .header-title p{
        font-size: 11px;  
        text-align: center;
        margin: 0 50px;
        margin-bottom: 70px;
    }
    
    .for-media{
        font-size: 15px;
        /* color: white; */
        transition: 500ms;
        padding: 5px;
        
    }
    .for-media:hover{
        border-bottom: 1px rgba(105, 207, 23, 0.75);
        padding-bottom: 22px;
    
    }
    .main-nav__link{
        font-size: 15px;
        padding: 0;
    }
    header{
        height: 500px;
    }
}


.header-title h1{
    font-size: 40px;
    margin-top: 0;

}
.header-title h2{
font-size: 20px; 

}
.header-title p{
font-size: 10px; 
margin-bottom: 30px; 
}

.header-link{
display: flex;
flex-direction: column;
gap: 40px;
}
.link{
font-size: 20px;

}
.link-2{
font-size: 10px;


}

@media (max-width:450px){
    .banner{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        
        gap: 15px;
    }

   

}

